body {
    background-color: cornflowerblue;
    /*font-family: 'Courier New', Courier, monospace;*/
}

div {
    background-color: azure;
    width: 100px;
    margin: auto;
    height: 40px;
    border-radius: 20%;
    text-align: center;
    font-size: medium;
    padding: 15%;
}

h3 {
    margin: 7%;
}

button {
    width: 20px;
    height: 20px;
    padding: auto;
    margin: auto;
}

 