body {
    background-color: #FFF3DA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


img{
    height: 300px;
    margin: auto;
    border-radius: 5%;
    background-color: #D0BFFF;
    padding: 2%;
}


.inner_div{
    background-color: #DFCCFB;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    height: 30%;
    width: 40%;
    padding: 2.5%;
    border-radius: 5%;
    margin-top: 5%;
    justify-self: center;
    text-align: center;
}

button {
    background-color: #BEADFA;
    margin: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    display: block;
    border-radius: 15%;
}

